*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#first_div{
width: 100%;
height: 500px;
background-image: url(../image/top-10-books-every-college-student-read-1024x640.jpeg);
background-repeat: no-repeat;
background-size: cover;
background-position: bottom right;
text-align: center;
}
.home{
        width:100%;
        height:500px;
         background-color: rgba(69, 55, 3, 0.5); 
       
}
.big_menu{
        display: flex;
        justify-content: space-around;
    }
.menu>ul{
        list-style-type: none;
        overflow:hidden;
}
.menu>ul>li a{
        text-decoration: none;
        color:rgb(150, 241, 113);
        font-size: 30px;
        display: block;
        padding:30px;
}
.menu>ul>li {
        float: left;
}
.tel{
    color:rgb(150, 241, 113);
    font-size: 30px;
    padding:30px;
}
.home>h1{
    font-size: 7vw;
    margin:30px;
    color:rgb(150, 241, 113);
}
.home>p{
    font-size: 2vw;
    width: 60%;
    margin: auto;
    color:rgb(181, 253, 155);
}
.aforizm{
    width: 100%;
    height: 200px;
    background-color:rgb(236, 213, 130);
    display:flex;
    color: rgb(2, 57, 2);
}
.aforizm_div1{
    width: 32%;
    height: 150px;
    background-color:rgb(236, 213, 130);
    margin: 8px;
    font-size: 22px;
    padding: 30px;
}
.aforizm_div2{
    width: 32%;
    height: 150px;
    background-color: rgb(236, 213, 130);
    margin: 8px;
    font-size: 22px;
    padding: 30px;

}
.aforizm_div3{
    width: 32%;
    height: 150px;
    background-color: rgb(236, 213, 130);
    margin: 8px;
    font-size: 22px;
    padding: 30px;

}
#about{
    width: 100%;
    height : 500px;
    display: flex;
    
}
.about_text{
    width: 50%;
    height: 400px;
    font-size: 30px;
    padding: 60px 20px;
    color:rgb(76, 81, 5) ;
}
.about_image{
    width: 50%;
    height: 400px;  
    background-image: url(../image/aboutImagebackgroundimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.publish{
    width: 100%;
    text-align: center;
    color: green;
    margin: auto;
    font-size: 30px;

}
#big-div{
    width:100%;
    height: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction:row; 
    flex-wrap: wrap; 
    padding: 60px;
}
.demo{
    width: 270px;
    height: 300px;
    background-color: white;
    float: left;
    margin: 10px;
    transition:0.7s;
}
.demo:hover{
    background-color: rgb(246, 245, 247);
    transform: scale(1.3);
}
.demo_child1{
    width: 250px;
    height: 250px;
    background-image: url(../image/nkarkartinaimage.jpeg);
    margin:auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.demo_child3{
    width: 250px;
    height: 250px;
    background-image: url(../image/hingxozukner.jpg);
    margin:auto;
    background-size: cover;
    background-repeat: no-repeat;
}
.demo_child4{
    width: 250px;
    height: 250px;
    background-image: url(../image/arexcvacayinpatahar.jpg);
    margin:auto;
    background-size: cover;
    background-repeat: no-repeat;
}
.demo_child5{
    width: 250px;
    height: 250px;
    background-image: url(../image/hmtacirbiznesarverstwum.jpg);
    margin:auto;
    background-size: cover;
    background-repeat: no-repeat;
}
.demo_child6{
    width: 250px;
    height: 250px;
    background-image: url(../image/labirintosicdurs.jpeg);
    margin:auto;
    background-size: cover;
    background-repeat: no-repeat;
}
.demo_child7{
    width: 250px;
    height: 250px;
    background-image: url(../image/cxelytoxnelu.jpeg);
    margin:auto;
    background-size: cover;
    background-repeat: no-repeat;
}
.demo_child8{
    width: 250px;
    height: 250px;
    background-image: url(../image/patmvacqnerhajevartasahmanyan.jpeg);
    margin:auto;
    background-size: cover;
    background-repeat: no-repeat;
}
.demo_child9{
    width: 250px;
    height: 250px;
    background-image: url(../image/nersessmajyan.jpeg);
    margin:auto;
    background-size: cover;
    background-repeat: no-repeat;
}
.demo_child10{
    width: 250px;
    height: 250px;
    background-image: url(../image/tunyw8texaprelemes.jpeg);
    margin:auto;
    background-size: cover;
    background-repeat: no-repeat;
}
.demo_child11{
    width: 250px;
    height: 250px;
    background-image: url(../image/avetiqisahakyanabulalamahari.jpg);
    margin:auto;
    background-size: cover;
    background-repeat: no-repeat;
}
.demo_child12{
    width: 250px;
    height: 250px;
    background-image: url(../image/piesnerhajpisnernner.jpeg);
    margin:auto;
    background-size: cover;
    background-repeat: no-repeat;
}
.demo_child13{
    width: 250px;
    height: 250px;
    background-image: url(../image/mahnexosivra.jpg);
    margin:auto;
    background-size: cover;
    background-repeat: no-repeat;
}
.demo_child2{
    width: 250px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0) ;
    margin:auto;
    color:  rgb(30, 61, 3);
    font-size: 25px;
    text-align:center;

    

}
button{
    width: 90px;
   height: 40px;
    background-color: rgb(55, 109, 8);
    color: rgba(255, 255, 255, 0.84);
    margin:5px;
    float: right;
    font-size: 25px;
}
#contacts{
    width: 100%;
    height: 300px;
    background-color:rgb(236, 213, 130);
    
}
#contacts>h1{
    text-align: center;
    align-items: center;
    color: rgb(55, 109, 8);
    
}
#contacts>h2{
    padding: 4px 50px;
    color: rgb(55, 109, 8);
}
.contacts_child{
    width: 100%;
    height: 300px;
    display: flex;
    padding: 10px 50px;
}
.loc_div{
width: 40%;
height: 200px;
background-color: rgb(236, 213, 130);
padding: 10px  80px;
margin: 4px 80px;
font-size: 25px;
color: rgb(55, 109, 8);
}

.fa-solid,.fa-brands{
    font-size: 40px;
    color: green;
}
.mall_div{
    width: 30%;
    height: 200px;
    background-color: rgb(236, 213, 130);
    font-size: 20px;
    padding: 30px;
    color: green;
}
body{
    background-color: rgb(236, 213, 130); 
}
@media only screen and (max-width: 928px){
    .big_menu{
        flex-direction: column;
    }
    .home>h1{
        text-align: left;
    }
    .home>p{
        text-align: left;
    }
    .tel{
        text-align: left;
    }
    #about{
        height: auto;
        flex-direction: column;
        
    }
    #contacts{
        
        height: auto;
        flex-direction: column;
        
    }
    .aforizm{
        width: 100%;
        height: auto;
        flex-direction: column;
        
    }
    .aforizm_div1,.aforizm_div2,.aforizm_div3{
        width: 100%;  
    }
    .about_image,.about_text{
        width: 80%;
    }
    .about_image{
        background-repeat:no-repeat;
        background-size: cover;
    }
    .publish>h1{
        width: 100%;

    }
    #contacts{
        width: 100%;
        height: auto;
        flex-direction: column;   
    }
    #contacts>h1{
        width: 100%;
    }
    .contacts_child{
        width: 100%;
    }
    .loc_div{
        width: 100%;
    }
    .mall_div{
        width: 100%;
    }
}
@media  only screen  and (max-width: 600px) {
    #first_div>.home>.big_menu>.menu>ul>li{
        float: none;
    }
    .home>h1{
        text-align:center;
        }
        .home>p{
            text-align: left;
        }
        .tel{
            text-align: center;
        }
        #first_div{
            height: auto;
        }
        .home{
            height: auto;
            padding-bottom: 50px;

    }
    .about_image, .about_text{
        width: 100%;
    }
    .about_image{
        background-position: center center;
    }
    .about_text{
        height: auto;
    }
    .aforizm{
        width: 100%;
        height: auto;
        flex-direction: column;
        
    }
    .aforizm_div1,.aforizm_div2,.aforizm_div3{
        width: 100%;  
    }
    .publish>h1{
        width: 100%;

    }
    #contacts{
        width: 100%;
        height: auto;
        flex-direction: column;   
    }
    #contacts>h1{
        width: 100%;
    }
    .contacts_child{
        width: 100%;
    }
    .loc_div{
        width: 100%;
    }
    .mall_div{
        width: 100%;
    }
}
    
